
<div class="row align-items-center title-box">
  <div class="col-sm-12">
    <h1 class="page-title">
      {{ (productId ? 'PAGES.PRODUCTS.DETAILS_PRODUCT' : 'PAGES.PRODUCTS.ADD_PRODUCT') | translate }}
    </h1>
  </div>
</div>

@if (showSpinner) {
  <app-common-spinner></app-common-spinner>
} @else {
  <form [formGroup]="productDetailForm" (ngSubmit)="submitProductForm($event)">
    <div class="row gap-2">

      <div class="col-sm product-form-box">
        <div class="image-box text-center mb-4 mt-4">
          <img
            [src]="currentProduct?.image ?? 'assets/images/no-img.png'"
            loading="eager"
            alt="product-image"
            [width]="currentProduct?.image ? 150 : 200"
            [height]="150"
          />
        </div>

        <div class="form-group">
          <label for="image">
            {{ 'PAGES.PRODUCTS_DETAILS.IMAGE' | translate }}:
          </label>
          <input class="form-control" type="text" name="image" id="image" formControlName="image" />
          @if (productDetailForm.get('image')?.invalid) {
            <small class="form-text">
              {{ 'PAGES.PRODUCTS_DETAILS.URL_REQUIRED' | translate }}
            </small>
          }
        </div>
      </div>


      <div class="col-sm product-form-box">

        @if (productId) {
          <div class="form-group">
            <label for="product-id">id:</label>
            <input class="form-control opacity-25" type="text" name="product-id" id="product-id" formControlName="id" readonly/>
          </div>
        }

        <div class="form-group">
          <label for="title">
            {{ 'PAGES.PRODUCTS_DETAILS.TITLE' | translate }}:
          </label>
          <input class="form-control" type="text" name="title" id="title" formControlName="title" />
          @if (productDetailForm.get('title')?.invalid) {
            <small class="form-text">
              {{ 'PAGES.PRODUCTS_DETAILS.TITLE_REQUIRED' | translate }}
            </small>
          }
        </div>

        <div class="form-group">
          <label for="price">
            {{ 'PAGES.PRODUCTS_DETAILS.PRICE' | translate }}:
          </label>
          <input
            class="form-control"
            type="text"
            name="price"
            id="price"
            formControlName="price"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$: "
          />
          @if (productDetailForm.get('price')?.invalid) {
            <small class="form-text">
              {{ 'PAGES.PRODUCTS_DETAILS.PRICE_REQUIRED' | translate }}
            </small>
          }
        </div>

        <div class="form-group">
          <label for="category">
            {{ 'PAGES.PRODUCTS_DETAILS.CATEGORY' | translate }}:
          </label>
          <input class="form-control" type="text" name="category" id="category" formControlName="category" />
          @if (productDetailForm.get('category')?.invalid) {
            <small class="form-text">
              {{ 'PAGES.PRODUCTS_DETAILS.CATEGORY_REQUIRED' | translate }}
            </small>
          }
        </div>

      </div>

      <div class="col-sm product-form-box">
        <div class="form-group">
          <label for="description">
            {{ 'PAGES.PRODUCTS_DETAILS.DESCRIPTION' | translate }}
          </label>
          <textarea
            class="form-control"
            type="text"
            name="description"
            id="description"
            formControlName="description"
            rows="10"
          >
          </textarea>
          @if (productDetailForm.get('description')?.invalid) {
            <small class="form-text">
              {{ 'PAGES.PRODUCTS_DETAILS.DESCRIPTION_REQUIRED' | translate }}
            </small>
          }
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12 text-end mt-3">
        <div class="form-group btn-actions-box">
          <app-common-button
            class="action-btn"
            [buttonText]="'Cancelar'"
            [type]="'button'"
            [buttonStyle]="'outlined-black'"
            (clicked)="onCancel()"
          >
          </app-common-button>

          <app-common-button
            class="action-btn"
            [buttonText]="(productId ? 'BUTTONS.EDIT_PRODUCT' : 'BUTTONS.NEW_PRODUCT') | translate"
            [type]="'submit'"
            [buttonStyle]="'primary'"
            [disableButton]="isSubmitting"
          >
          </app-common-button>
        </div>
      </div>
    </div>

  </form>
}
