
.title-box {
  border-bottom: 1px solid var(--Galaxy-Black);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
};
.action-btn {
  margin: 0 0.5rem;
}

.product-form-box {
  height: 100%;
  min-height: 400px;
  background-color: var(--light-grey);
  border: 1px solid var(--outline-border);
  border-radius: 8px;
};

@media only screen and (max-width: 574px) {
  .btn-actions-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  };
}
