
.title-box {
  border-bottom: 1px solid var(--Galaxy-Black);
  padding-bottom: 1rem;
};

@media only screen and (max-width: 574px) {
  .page-title {
    text-align: center;
    margin: 0.5rem 0;
  };

  .new-product-btn-box {
    text-align: center !important;
    margin: 0.5rem 0;
  }
}
