
<div class="row align-items-center title-box">
  <div class="col-sm-6">
    <h1 class="page-title">
      {{ 'PAGES.PRODUCTS.MANAGE_PRODUCT' | translate }}
    </h1>
  </div>

  <div class="col-sm-6 text-end">
    <app-common-button
      [buttonText]="'BUTTONS.ADD_PRODUCT' | translate"
      [type]="'button'"
      [buttonStyle]="'primary'"
      (clicked)="addNewProduct()"
    ></app-common-button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    @if (showSpinner) {
      <app-common-spinner></app-common-spinner>
    } @else {
      <app-common-table
        [tableConfig]="tableConfig"
        (detailsClicked)="updateProduct($event)"
        (deleteClicked)="deleteProduct($event)"
      ></app-common-table>
    }
  </div>
</div>
