.hvr-float {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  transform: translateY(-6px);
}

/* Forward / Backward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  transform: translateX(6px);
}
