
.main-header {
  background-color: var(--Galaxy-Black);
  min-height: 60px;
  box-shadow: 0 2px 5px var(--Sideral-Grey);
};

.header-title {
  margin: 0;
  padding: 0;
  color: var(--Bright-White);
  font-size: 1rem;
  letter-spacing: 2px;
};

.header-welcome {
  color: var(--Bright-White);
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 0 1rem;
};

@media only screen and (max-width: 574px) {
  .main-header {
    padding: 0.5rem;
  };

  .header-title {
    text-align: end;
    margin: 0;
    padding: 0;
    border: none;
  };

  .welcome-box {
    border-top: 1px solid var(--Bright-White);
    justify-content: center !important;
    margin: 0.5rem 0;
    padding-top: 0.5rem;
  };
}
