<div class="row">

  <div class="col-sm-12 table-container">
    <table class="table">
      <thead>
        <tr>
          @for (header of tableConfig.tableHeaders; let i = $index; track i) {
            <th
              [ngClass]="{
              'col-id': tableConfig.columnsToDisplay[i] === 'id',
              'col-title': tableConfig.columnsToDisplay[i] === 'title',
              'col-image': tableConfig.columnsToDisplay[i] === 'image',
              'col-actions': tableConfig.columnsToDisplay[i] === 'actions'
              }"
            >
              <span>{{ header }}
                @if (tableConfig.columnsToDisplay[i] !== 'image' && tableConfig.columnsToDisplay[i] !== 'actions' ) {
                  <i (click)="sortData(tableConfig.columnsToDisplay[i])" [ngClass]="getSortIcon(tableConfig.columnsToDisplay[i])"></i>
                }
              </span>
            </th>
          }
        </tr>
      </thead>

      <tbody>
        @for(item of pagedData; track item.id) {
          <tr>
            @for(column of tableConfig.columnsToDisplay; track column) {
              <td [attr.title]="column === 'title' ? item[column] : null">
                @switch (column) {

                  @case ('image') {
                    <img
                      [src]="item[column]"
                      width="30"
                      height="30"
                      alt="image"
                      class="table-image"
                      loading="lazy"
                    />
                  }

                  @case ('actions') {
                    <div class="actions-container">
                      <i
                        class="bi bi-eye hvr-float"
                        role="button"
                        (click)="detailsClicked.emit(item)"
                      ></i>

                      <i
                        class="bi bi-trash delete-icon hvr-float"
                        role="button"
                        (click)="deleteClicked.emit(item)"
                      ></i>
                    </div>
                  }

                  @default {
                    {{ item[column] }}
                  }

                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <div class="row w-100 table-footer-container">
      <div class="col-sm w-100 footer-paginator-container">
        @if (tableConfig.tableData.length > pageSize) {
          <nav>
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="setPage(currentPage - 1)">
                  {{ 'TABLE.PREVIOUS' | translate }}
                </a>
              </li>
              @for (page of getPages(); track page) {
                <li class="page-item" [class.active]="page === currentPage">
                  <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                </li>
              }
              <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                <a class="page-link" (click)="setPage(currentPage + 1)">
                  {{ 'TABLE.NEXT' | translate }}
                </a>
              </li>
            </ul>
          </nav>
        }
      </div>
    </div>
  </div>

</div>
