:root {

  --Bright-White: #fff;
  --Galaxy-Black: #0c0c0c;
  --Space-Grey: #0c2232;
  --Sideral-Grey: #2c404d;
  --color-vertical-construction: #b50000;
  --color-vertical-operational: #00ac69;
  --color-vertical-legal-intelligence: #0756e4;

  --info: #9c9b9b;
  --warning: #CC9A06;
  --danger: #C80000;
  --success: #198754;

  --light-grey: #F8F9FA;
  --outline-border: #DEE2E6

};


