:root {
  --primary: #25d366;
  --secondary: #128c7e;
  --tertiary: #075e54;
  --quaternary: #dcf8c6;
  --quinary: #ece5dd;
  --dark: #022220;

  --info: #9c9b9b;
  --warning: #CC9A06;
  --danger: #C80000;
  --success: #198754;
}
